name: Docker CI/CD Deploy

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Login to GHCR
      - name: Login to GHCR
        run: echo "${{ secrets.GHCR_TOKEN }}" | docker login ghcr.io -u ${{ secrets.GHCR_USERNAME }} --password-stdin

      # Build Docker image with cache
      - name: Build image
        run: docker build --pull --cache-from ghcr.io/${{ secrets.GHCR_USERNAME }}/bike_bnb:latest -t ghcr.io/${{ secrets.GHCR_USERNAME }}/bike_bnb:latest .

      # Push image
      - name: Push image to GHCR
        run: docker push ghcr.io/${{ secrets.GHCR_USERNAME }}/bike_bnb:latest

      # Deploy via SSH
      - name: Deploy to Server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            docker pull ghcr.io/${{ secrets.GHCR_USERNAME }}/bike_bnb:latest
            docker stop bike_bnb || true
            docker rm bike_bnb || true
            docker run -d -p 80:80 --name bike_bnb ghcr.io/${{ secrets.GHCR_USERNAME }}/bike_bnb:latest
